main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  margin-top: 60px;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  height: 80%;
  /* top: 100px; */
}

.message {
  padding: 10px;
}
/* 
.card {
  margin: 5px;
} */
.messageCard{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
}

.message-input {
  position: fixed;
  flex-grow: 1;
  /* padding: 1px; */
  border: none;   
  border-radius: 20px;
  outline: none;
  bottom: 0;
  width:69%;
}

.send-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #128c7e;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.send-button:hover {
  background-color: #0d6e61;
}
.chat-header{
  position: fixed;
  flex-grow: 1;
  /* padding: 1px; */
  /* border: none;    */
  /* border-radius: 20px; */
  outline: none;
  background-color: #b6d2ad;
  width: 69%;
  top: 60px;
} 
.headerText{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}
.passive{
  display: none;
}