.divide{
    display: flex;
    flex-direction: row;
}
.left1{
    float: left;
    width: 20%;
    overflow-y: scroll ;
    background-color: #fff;
    resize: horizontal; /* Allows the element to be resized horizontally */
    overflow: auto; /* Required for resize to work */
}
.right1{
    flex : 1;
    overflow-y: scroll ;
    background-color: #f0f0f0;
}
@media (max-width: 600px) {
    .left1{
        display: none;
    }
    .right1{
        width: 100%;
    }
  }