.deleteButton {
    display: block;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.research{
    background-color: #dae9f6;
    padding: 20px;
    height: 100%;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.addProjectButton {
    position: fixed;
    display: block;
    bottom: 50px;
    right: 60px;
    display: block;
}

#lightbox {
    position: fixed;
    display: none;
    width: 98%;
    height: 98%;
    opacity: 1.0;
    z-index: 100;
    background-color: white;
    padding: auto;
    margin: auto;
}

.close {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 100%;
}

.CardGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

@media (max-width: 768px) {
    #lightbox {
      width: 90vw;
      height: 90vh;
      top: 5vh;
      left: 5vw;
    }
  }