.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray;
    background-color: #d8cfcf;
}
.sidebar__header > h5{
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    margin: auto;
}
.sidebar_subjects{
    flex:1;
    overflow: scroll;
    background-color: #f2f3e9;
}
.add_subject{
    background-color: #f2f3e9;
}

.add_subject__wrapper {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f0f0f0;
  }
.add_subject__form {
    flex:1;
    align-items: center;
  }
  
  .add_subject__form button {
    width: 20%; 
  }
  