.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 75%;
    border-radius: 50px;
    border: 1px solid #280b54; 
}
.first1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    background-image: url(../assets/bg.png);
    background-size: cover;
    width: 50%;
    height: 100%;
    float: left;
}
.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 100%;
  }
.position1 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    width: 80%;
    height: 59px;
    font-size: 350%;
    font-weight: 700;
    color: #fff;
  }
  .position2 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    width: 80%;
    height: 59px;
    font-size: 150%;
    color: #fff;
  }
.second1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    border-radius: 50px;
    height: 100%;
    float: right;
}
.second2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  border-radius: 50px;
  height: 100%;
  float: right;
}
.second3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  border-radius: 50px;
  height: 100%;
  float: right;
}
.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    width: 100%;
  }
.position3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 45px;
    font-weight: 700;
    color: #280b54;
  }
.inputs1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
.input1{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 15%;
    background: #eaeaea;
    border-radius: 6px;
}
.input1 input {
    width: 400px;
    height: 50px;
    border: none;
    background: transparent;
    outline: none;

    font-size: 19px;
    color: #797979;
  }
.input2{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 15%;
    background: #eaeaea;
    border-radius: 6px;
    flex-direction: row;
}
.input2 .radio-button{
    flex:33.33%;

}
.switch1{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 90%;
  height: 20px;
  font-size: 20px;
}
.img{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 15%;
  border-radius: 6px;
}
.button1 input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: #280b54;
    color: #fff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
}
@media (max-width: 768px) {
    .first1 {
      display: none;
    }

    .second1 {
      width: 100%;
      height: 100%;
    }
  }